.chamber{
    position: relative;
    padding: calc(var(--section-padding-top) * .5) 0;
    display: flex;
    align-items: center;
    justify-content: left;
}

.chamber img{
    width: 25%;
}


/* SMALL LAPTOP STYLES */
@media only screen and (min-width: 991px) and (max-width: 1400px){

}

/* TABLET STYLES */
@media only screen and (min-width: 650px) and (max-width: 990px){
    .chamber img{
        width: 45%;
    }
    .chamber{
        justify-content: center;
    }
}

 /* MOBILE STYLES */
@media only screen and (max-width: 649px){
    .chamber img{
        width: 65%;
    }
    .chamber{
        justify-content: center;
    }
}