.comeSupport{
    position: relative;
    padding: calc(var(--section-padding-top) * 0.5) 0;
    display: inline-block;
    width: 90%;
    margin: 0 5%;
}

.comeSupport h2{
    text-align: center;
    margin-bottom: 2vw;
    padding: 0 25%;
    font-family: var(--secondary-font);
    font-size: 4rem;
    color: white;
}


/* SMALL LAPTOP STYLES */
@media only screen and (min-width: 991px) and (max-width: 1400px){

}

/* TABLET STYLES */
@media only screen and (min-width: 650px) and (max-width: 990px){
    .comeSupport h2{
        margin-bottom: 3vw;
        padding: 0 15%;
    }
}

 /* MOBILE STYLES */
@media only screen and (max-width: 649px){
    .comeSupport{
        width: 100%;
        margin: 0;
    }
    .comeSupport h2{
        margin-bottom: 6vw;
        padding: 0 5%;
    }
}